.css-1kco5ff-MuiStack-root .hoverLinkBottom{
    border-bottom: 2.5px solid black;
    text-decoration: none;
    color: black;
}

.css-1kco5ff-MuiStack-root .hoverLinkBottom:hover{
    border-bottom: 2.5px solid rgb(216, 162, 61);
    color: #2DC98A;
    transition-duration:0.35s;
}


.account_user{
    position: relative;
}

.account_user .account_userIcon{
    position: absolute;
    top: -4px;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-style: none !important;
}
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon{
    display: none !important;
}

