.backgroundImage{
    background-image: url(/public/assets/img/backgr7.jpg);
    width: 100%;
    padding-top: 100px;
    background-color: rgb(255, 255, 255, 0.3);
}

.borderInput{
    border: 1px solid black !important;
    border-radius: 5px;
}

.css-pk11to-MuiInputBase-root-MuiFilledInput-root:before{
    border-bottom: none !important;
}


.css-pk11to-MuiInputBase-root-MuiFilledInput-root:after{
    border-bottom: none !important;

}

.css-jg8ynw-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
.css-s2wj3-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: #2DC98A !important;
}

.btn--changeColor:hover{
    background-color: rgba(17, 233, 150, 0.9) !important;
}


.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    width: 100%;
    margin: 13px 0px;
}
.css-1xhypcz-MuiStack-root{
    padding-top: 0 !important;
}


.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    margin-top: 5px !important;
}
.css-jg8ynw-MuiFormLabel-root-MuiInputLabel-root{
    top:-15px !important
}

.css-s2wj3-MuiFormLabel-root-MuiInputLabel-root{
    top: 1px !important;
}


.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit !important;
    letter-spacing: inherit !important;
    color: currentColor !important;
    padding: 4px 0 5px !important;
    border: 0 !important;
    box-sizing: content-box !important;
    background: none !important;
    height: 1.4375em !important;
    margin: 0 !important;
    -webkit-tap-highlight-color: transparent !important;
    display: block !important;
    min-width: 0 !important;
    width: 100% !important;
    -webkit-animation-name: mui-auto-fill-cancel !important;
    animation-name: mui-auto-fill-cancel !important;
    -webkit-animation-duration: 10ms !important;
    animation-duration: 10ms !important;
    padding: 16.5px 14px !important;
    padding-right: 0 !important;
}

.css-1btnhvb-MuiButtonBase-root-MuiButton-root{
    background-color: #2DC98A !important;
    color: white !important;

}
.css-bhp9pd-MuiPaper-root-MuiCard-root{
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.7) !important;
    padding: 15px !important;
    position: relative !important;

}


.css-2atoo-MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    position: absolute;
    color: white;
    top: 0;
    background-color: #2DC98A;
    right: 0;
    padding: 4px 40px;
}

a{
    text-decoration: none !important;
}

.changeWidth{
    width: 100%;
}